.card-block {
    --card-border-radius: var(--featured-border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    grid-column: 2/2;
}

.card-block h2 {
    text-align: center;
    padding-top: 4rem;
    width: 100%;
}

.card {
    cursor: pointer;
    display: flex;
    row-gap: 0.25rem;
    margin: 1rem 0;
    text-align: left;
    overflow: hidden;
}

.card-content-area {
    align-content: center;
    font-size: 1.5rem;
    text-align: justify;
    padding: 1rem;
}

.card-image-container {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    min-width: 600px;
    height: 400px;
    overflow: hidden;
}

.card-image-container img {
    transition: transform 300ms ease-out;
}

.card-image-container img:hover {
    transform: scale(1.5);
}

.card-content-area h3 {
    margin-top: 0;
    margin-bottom: 0.3rem;
}

.card-top-right-radius {
    border-top-right-radius: var(--card-border-radius);
}

.card-top-left-radius {
    border-top-left-radius: var(--card-border-radius);
}

.card-semi-circle {
    --border-radius-semi: 200px;
    border-top-right-radius: var(--border-radius-semi);
    border-bottom-right-radius: var(--border-radius-semi);
    min-width: 264px;
    height: 400px;
    margin-left: 0.3rem;
    overflow: hidden;
}