.faq {
    /* --grid-row-config: 120px 800px 1fr 800px 800px 600px 550px 112px; */
    --grid-row-config: 120px 30px 400px 1fr 112px;
    grid-template-rows: var(--grid-row-config);
}

.faq-banner {
    background-color: var(--primary-color);
    color: var(--esho-header-text-color);
    grid-column: 1/4;
}

.faq-title-container, .faq-pic-container {
    width: 50%;
}

.faq-title-container {
    padding-left: 2rem;
}

.faq-area {
    grid-column: 2/2;
    padding-bottom: 1rem;
}

ul.reach-out {
    display: flex;
    gap: 0.3125rem;
}

.reach-out-options {
    gap: 0.5rem;
}
