.home {
    --grid-row-config: 96px 800px 1fr 800px 800px 600px 550px 112px;
    --booking-widget-bg: #FFF;
    grid-template-rows: var(--grid-row-config);

}

.homepage-banner {
    background: url('/banner/homepage-hero-desktop.webp') no-repeat;
    background-size: cover;
    grid-row: 2;
    grid-column: 1/4;
    position: relative;
}

.banner-widget {
    grid-column: 2/2;
    color: var(--esho-header-text-color);
    position: absolute;
    /* left: 80px; */
    top: 50%;
    transform: translateY(-50%);
}

.banner-widget h1, h2 {
    margin: 0;
    grid-column: 2/2;
    text-align: center;
}

.booking-widget {
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
    background-color: var(--booking-widget-bg);
    width: 900px;
    padding: 1.75rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
}

.booking-widget form {
    gap: 1rem;
    justify-content: center;
}

.check-in-out {
    align-items: center;
    gap: 0.5rem;
}

.guest-count, .location {
    min-width: 150px;
}

.card-block {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    grid-column: 2/2;
}

.card-block h2 {
    text-align: center;
    padding-top: 4rem;
    width: 100%;
}

.homepage-content {
    margin-top: 5rem;
    grid-column: 1/4;
}

.featured-content {
    grid-column: 2/2;
}

.book-now-container {
    justify-content: center;
}

.book-now-container .btn-primary{
    width: 300px;
}

.feature-section-container {
    background-color: var(--primary-bg);
    color: var(--esho-header-text-color);
    /* height: 500px; */
    position: relative;
}

.feature-section-container::before {
    content: "";
    background: url('/patterns/pattern 4-01.webp') no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.25;
}

.featured-content {
    align-items: center;
    gap: 1rem;
    z-index: 2;
}

.featured-content h2 {
    text-align: left;
}

.featured-content img {
    border: 5px solid var(--esho-header-text-color);
}

.carousel-container {
    align-items: center;
    grid-column: 2/2;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    overflow-x: hidden;
}

.carousel-description {
    padding-left: 1rem;
}

.why-book-heading {
    text-align: center;
    width: 100%;
}

.three-e {
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-column: 2/2;
}

.three-e div {
    width: 100%;
}

.three-e h2, .three-e h3 {
    text-align: center;
}

.three-e-container {
    gap: 1rem;
}

.facilities {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}