.home {
    --grid-row-config: 120px 800px 1fr 800px 800px 600px 800px 112px;
    --booking-widget-bg: #FFF;
    --three-e-widget-background-color: #e6f8f8;

    /* background-color: var(--primary-bg-10); */
    grid-template-rows: var(--grid-row-config);
    --default-animation-timing: 500ms;
}

.homepage-banner {
    background: url('/banner/homepage-hero-desktop.webp') no-repeat;
    background-position-y: center;
    background-size: cover;
    grid-row: 2;
    grid-column: 1/4;
    position: relative;
}

.banner-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/2;
    color: var(--esho-header-text-color);
    position: absolute;
    /* left: 80px; */
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
}

.banner-widget > h1 {
    margin: 0;
    grid-column: 2/2;
    text-align: center;
    /* text-shadow: 2px 2px 1px var(--shadow-color); */
}

.booking-widget {
    border-radius: 80px;
    box-shadow: 0px 0px 10px 0px var(--shadow-color);
    background-color: var(--booking-widget-bg);
    font-size: 1.25rem;
    width: fit-content;
    padding: 2.25rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -55px;
}

.booking-widget form {
    gap: 1rem;
    justify-content: center;
}

.check-in-out {
    align-items: center;
    gap: 0.5rem;
}

.guest-count, .location {
    display: flex;
    column-gap: 0.325rem;
    min-width: 150px;
}

.homepage-content {
    margin-top: 5rem;
    grid-column: 1/4;
}

.featured-content {
    grid-column: 2/2;
}

.book-now-container {
    justify-content: center;
}

.book-now-container .btn-primary{
    width: 300px;
}

.feature-section-container {
    background-color: var(--primary-bg);
    color: var(--esho-header-text-color);
    /* height: 500px; */
    position: relative;
}

.feature-section-container::before {
    content: "";
    background: url('/patterns/pattern 4-01.webp') no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.25;
}

.featured-content {
    align-items: center;
    gap: 1rem;
    z-index: 2;
}

.featured-content h2 {
    text-shadow: 2px 2px 1px var(--shadow-color);
}

.featured-content img {
    border: 5px solid var(--esho-header-text-color);
}

.carousel-container {
    align-items: center;
    grid-column: 2/2;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    overflow-x: hidden;
}

.carousel-description {
    padding-left: 1rem;
}

.swiper-slide .card {
    background-color: var(--primary-bg);
    border-top-left-radius: var(--featured-border-radius);
    border-top-right-radius: var(--featured-border-radius);
    flex-direction: column;
}

.swiper-slide .card-content-area {
    font-size: 1.125rem;
    text-align: center;
}

.why-book-heading {
    text-align: center;
    width: 100%;
}

.three-e {
    display: grid;
    grid-template-rows: 200px 500px;
    grid-column: 2/2;
    align-items: center;
}

.three-e div {
    width: 100%;
}

.three-e .primary-widget {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    position: relative;
    padding: 0;
    height: 500px;
}

.widget-poster {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover !important;
    border-radius: inherit;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.widget-poster::before {
    content: "";
    background-color: var(--primary-bg-10);
    position: absolute;
    width: 100%;
    height: 100%;
}

.three-e .primary-widget .text-content {
    padding-top: 1rem;
    text-align: left;
}

.three-e .primary-widget:first-child .widget-poster {
    background: url('/three-e/1.webp') no-repeat;
}

.three-e .primary-widget:nth-child(2) .widget-poster {
    background: url('/three-e/2.webp') no-repeat;
}

.three-e .primary-widget:last-child  .widget-poster {
    background: url('/three-e/3.webp') no-repeat;
}

.three-e .primary-widget::before {
    content: "e";
    font-size: 10rem;
    font-weight: 400;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    top: -100px;
    z-index: 10;
}

.three-e-container {
    gap: 1rem;
}

.facilities {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}


.border-animation {
    position:relative;
}

.border-animation::before {
    content: "";
    border-top: 1px solid var(--body-color);
    border-bottom: 1px solid var(--body-color);
    display: flex;
    width: 100%;
    height: 70%;
    position: absolute;
    transform: scaleX(0);
    transition: transform var(--default-animation-timing) ease-in-out;
}

.three-e .primary-widget:hover .border-animation::before {
  transform: scaleX(1);
}

.three-e .primary-widget:hover .widget-poster::before {
    content: "";
    animation: darkenBackground var(--default-animation-timing) forwards;
}

@keyframes darkenBackground {
    from {background-color: var(--primary-bg-10);}
    to {background-color: rgba(40, 189, 191, 0.4)};   
}